.vBarGraph {
    background:  bottom left;
    /*border-bottom: 3px solid #333;*/
    font: 9px Helvetica, Geneva, sans-serif;
    height: 200px;
    margin: 1em 0;
    padding: 0;
    position: relative;
    }
    
.vBarGraph li {
    background: #AAA repeat-y top right;
    border: 1px solid #555;
    border-bottom: none;
    bottom: 0; 
    color: #FFF;
    margin: 0; 
    padding: 0 0 0 0;
    position: absolute;
    list-style: none;
    text-align: center;
    width: 19px;
    }

.vBarGraph li.p1{ background-color:#666666 }
.vBarGraph li.p2{ background-color:#888888 }
.vBarGraph li.p3{ background-color:#AAAAAA }

ul.xAxis{margin:0 0 0 0px;padding:0;float:left;clear:left;display:inline;}
ul.xAxis li{
    float:left; 
    list-style:none;
    width:20px;
    text-align:
    center;
    font: 9px Helvetica, Geneva, sans-serif;
}

.hBarGraph {
    background:  bottom left;
    border-bottom: 3px solid #333;
    font: 9px Helvetica, Geneva, sans-serif;
    height: 200px;
    margin: 1em 0;
    padding: 0;
    position: relative;
}
    
.hBarGraph li {
    background: #AAA repeat-y top right;
    border: 1px solid #555;
    border-bottom: none;
    bottom: 0; 
    color: #FFF;
    margin: 0; 
    padding: 0 0 0 0;
    position: absolute;
    list-style: none;
    text-align: right;
    vertical-align: middle;
    height: 29px;
    line-height: 29px;
}

.hBarGraph li.p0{ background-color:transparent }
.hBarGraph li.p1{ background-color:#666666 }
.hBarGraph li.p2{ background-color:#888888 }
.hBarGraph li.p3{ background-color:#AAAAAA }

}

table,th,td{
    border:1px solid black;
    padding:4px;
}
